@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    width: 100%;
    height: 43px;
    background-color: #333333FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.header-elems {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
    color: #919191;
    margin-left: 5%;
    transition: .2s ease;
}

.for_img {
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.block {
    width: 1440px;
    margin: 10px auto;
    position: relative;
}

.tesla_img {
    position: relative;
}

.car {
    width: 1040px;
    height: 697px;
    margin: 0 auto;
    background-image: url(../assets/img/tesla.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

.door {
    width: 180px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 220px;
    left: 720px;
    z-index: 100;
}

.door_inside {
    width: 180px;
    height: 160px;
    background-color: transparent;
    position: absolute;
    top: 230px;
    left: 990px;
    transform: rotate(8deg);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 537px;
    height: 115px;
    margin: 50px auto;
}

.distance p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #707070;
    margin-bottom: 12px;
}

.distance h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 79px;
    color: #000000;
}

.price p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #707070;
    margin-bottom: 12px;
}

.price h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 79px;
    color: #000000;
}

.equipment {
    width: 900px;
    height: 77px;
    margin-bottom: 30px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* speed */

.speed {
    width: 232px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speed_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.value {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.speed_arrow_top {
    width: 22px;
    height: 22px;
    background-image: url(../assets/img/up.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

.speed_arrow_bottom {
    width: 22px;
    height: 22px;
    margin-top: 6px;
    background-image: url(../assets/img/down.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

/* temperature */

.temperature {
    width: 216px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temperature_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.temperature_value {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.temperature_arrow_top {
    width: 22px;
    height: 22px;    
    background-image: url(../assets/img/up.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

.temperature_arrow_bottom {
    width: 22px;
    height: 22px;
    margin-top: 6px;
    background-image: url(../assets/img/down.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

/* wheel */

.wheel {
    width: 102px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wheel_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.wheel_value {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.wheel_arrow_top {
    width: 22px;
    height: 22px;
    background-image: url(../assets/img/up.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

.wheel_arrow_bottom {
    width: 22px;
    height: 22px;
    margin-top: 6px;
    background-image: url(../assets/img/down.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}

/* ac */

.ac {
    width: 90px;
    height: 49px;
}

.ac_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.swich_off {
    width: 39px;
    height: 24px;
    margin-top: 8px;
    background-image: url(../assets/img/off.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}



/* long_range */

.long_range_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.swich_off_one {
    width: 39px;
    height: 24px;
    margin-top: 8px;
    background-image: url(../assets/img/off.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}


/* view */

.view {
    position: absolute;
    left: 1120px;
    top: 925px;
    width: 240px;
}

.view_item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.swich_on {
    width: 39px;
    height: 24px;
    margin-top: 8px;
    background-image: url(../assets/img/on.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}

/* on/off*/

.ac_swich_on {
    width: 39px;
    height: 24px;
    margin-top: 8px;
    background-image: url(../assets/img/on.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}

.swicher_off {
    width: 39px;
    height: 24px;
    margin-top: 8px;
    background-image: url(../assets/img/off.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}


/* after */

.interier_types {
    width: 315px;
    height: 61px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.left_top p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}
.left_bottom {
    width: 136px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    width: 117px;
    height: 49px;
    text-align: start;
}

.black {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 6px;
    background-color: #000;
}

.white {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 6px;
    background-color: #f0f0f0   ;
}

.gold {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 6px;
    background-color: #E6DDD0FF;
}

.long_range_swicher p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}

.a{
    background-image: url(../assets/img/gold.png);
}

.gray {
    width: 100%;
    height: 35px;
    margin-left: 20px;
    background: #CFE7FF;
    border-radius: 10px;
    color: #797979;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;
    cursor: pointer;
    user-select: none;
}